@import "../helper";

.Homepage {
  &-header,
  &-slogan {
    position: relative;
    overflow: hidden;
  }

  &-header {
    height: 400px;
    padding: 0 15px;
    font-weight: normal;
    background: image-url("pages/home/banner") #0871ab no-repeat 50% 50%;
    background-size: cover;

    &:before {
      content: "\0020";
      background-color: #000;
      opacity: 0.35;
      @include stretch;
    }
  }

  &-slogan {
    margin-top: 135px;
    color: #fff;
    font-size: 28px;

    p {
      margin-bottom: 0;

      span,
      a {
        font-weight: bolder;
      }

      a {
        color: inherit;

        &:hover {
          text-decoration: underline;
        }
      }

      + p {
        margin-top: 30px;
      }
    }
  }

  &-body {
    padding: {
      top: 30px;
      bottom: 20px;
    }
  }

  @media all and (max-width: $screen-sm-max) {
    &-header {
      height: 250px;
    }

    &-slogan {
      margin-top: 85px;
      font-size: 20px;

      p + p {
        margin-top: 15px;
      }
    }
  }
}

.ProjectCategory {
  &-header {
    padding: {
      top: 24px;
      bottom: 20px;
    }
  }

  &-heading {
    position: relative;
    z-index: 1;
    margin: 0;
    font-size: 42px;

    &:before {
      content: "#";
      position: absolute;
      right: 100%;
      margin-right: 5px;
    }
  }

  @media all and (max-width: $screen-xs-max) {
    &-heading:before {
      position: static;
    }
  }
}

.ProjectItem {
  padding: {
    top: 12px;
    bottom: 12px;
  }

  &-heading,
  &-description {
    margin-bottom: 12px;
  }

  &-heading {
    margin-top: 0;
    font-size: 24px;
  }

  &-description {
    color: #606060;
  }

  &-links {
    .fa,
    ul {
      vertical-align: middle;
    }

    ul {
      display: inline-block;
      list-style: none inside none;
      margin: 0 0 0 1em;
      padding: 0;
      @include pie-clearfix;

      li {
        float: left;

        + li {
          margin-left: .5em;
        }
      }
    }
  }
}
